* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.body-bg {
  background-color: slategrey;
}
.header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.header-borderBottom {
  border-bottom: 1px solid #1111112f;
}
.header__logo {
  width: 48px;
  position: absolute;
  left: 24px;
}
.header__nav {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}
.header__nav .btton {
  background-color: transparent;
  color: black;
  text-decoration: none;
  border: none;
  max-height: 64px;
  padding: 1.9rem 1rem;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-menu{
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: whitesmoke;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 5px 5px 0 #1111112f;
  z-index: 1;
}
.btton:hover{
  border: 1px solid black;
}
.dropdown:hover .dropdown-menu{
  display: block;
}
.dropdown-menu nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
